<div class="top-bar">
	<ul>
		<li><div class="twitter"></div></li>
		<li><div class="facebook"></div></li>
		<li><div class="linkedin"></div></li>
		<li><div class="mail"></div></li>
	</ul>
</div>

<div class="main-container">
	<div class="jardin-logo"></div>
	
	<div class="content">
		<div class="main"><%= t('welcome.main') %></div>
		<div class="extra">
			<p><%= t('welcome.extra_one')%></p>
			<p><%= t('welcome.extra_two')%></p>
			<p><%= t('welcome.extra_three')%></p>
		</div>
	</div>
	
	<div class="partners">
		<p class="title"><%= t('welcome.strategic_partners') %></p>
		<ul>
			<li><div class="founder-logo"></div></li>
			<li><div class="enviu-logo"></div></li>
		</ul>
	</div>
	
	<div class="right-floatant">
		<div class="tree"></div>
		<a href="" class="apply"></a>
	</div>
</div>


<div class="drawer-area">
	<div class="programs-d">
		<p class="title"></p>
		<p class="idea"></p>
		
		<div class="icon-list"></div>
	</div>
	<div class="mentors-d">
		<p class="title"></p>
		<p class="idea"></p>
		
		<div class="icon-list"></div>
	</div>
	<div class="lab-d">
		<p class="title"></p>
		<p class="idea"></p>
		
		<div class="icon-list"></div>
	</div>
	<div class="events-d">
		<p class="title"></p>
		<p class="idea"></p>
		
		<div class="icon-list"></div>
	</div>
	<div class="startups-d">
		<p class="title"></p>
		<p class="idea"></p>
		
		<div class="icon-list"></div>
	</div>
	<div class="space-d">
		<p class="title"></p>
		<p class="idea"></p>
		
		<div class="icon-list"></div>
	</div>
</div>

<div class="bottom-bar">	
	<ul>
		<li id="programs" class="drawer-trigger"><div class="icon"></div><p class="text">PROGRAMS</p></li>
		<li id="mentors" class="drawer-trigger"><div class="icon"></div><p class="text">MENTORS</p></li>
		<li id="lab" class="drawer-trigger"><div class="icon"></div><p class="text">LAB</p></li>
		<li id="events" class="drawer-trigger"><div class="icon"></div><p class="text">EVENTS</p></li>
		<li id="startups" class="drawer-trigger"><div class="icon"></div><p class="text">STARTUPS</p></li>
		<li id="space" class="drawer-trigger"><div class="icon"></div><p class="text">SPACE</p></lib>
	</ul>
</div>

